body {
    width: 80%;
    margin: 0 auto;
    padding: 100px;

}

#input {
    width: 200px;
    height: 20px;
    display: block;
    margin: 20px auto;

}

#event {
    width: 100px;
    height: 100px;
    display: block;
    background: red;
    margin: 0 auto;
}